[Unit]
Description=Binary Splitting Window Manager
Requires=xorg-server@0.service
After=xorg-server@0.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/bspwm
Restart=on-failure

[Install]
WantedBy=xorg.target

