[Unit]
Description=Binary Splitting Window Manager
Wants=sxhkd.service

[Service]
Type=simple
ExecStart=/usr/bin/bspwm

[Install]
WantedBy=xinit.target

