[Unit]
Description=A lightweight compositor for X11 
Documentation=man:picom(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/picom
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target

