[Unit]
Description=Compositor

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/picom
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
RequiredBy=xorg.target

