[Unit]
Description=Compositor
BindsTo=xorg.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/picom
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=xorg.target

