[Unit]
Description=Connect your computer to your smartphone or tablet. Ripped from https://github.com/KDE/plasma-systemd-integration/
PartOf=graphical-session.target

[Service]
Type=dbus
ExecStart=/usr/lib/kdeconnectd
BusName=org.kde.kdeconnect
Restart=on-failure
RestartSec=1
TimeoutStopSec=10
Environment=QT_QPA_PLATFORM=offscreen

[Install]
WantedBy=graphical-session.target

