[Unit]
Description=Connect your computer to your smartphone or tablet. Ripped from https://github.com/KDE/plasma-systemd-integration/

[Service]
Type=forking
ExecStart=/usr/lib/kdeconnectd
BusName=org.kde.kdeconnect

[Install]
WantedBy=xinit.target

