[Unit]
Description=Python script to parse libinput and run commands based on gesturse
BindsTo=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/libinput-gestures

[Install]
WantedBy=xorg.target

