[Unit]
Description=Bar
Wants=bspwm

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/polybar -c %h/.config/polybar/config.ini %i

[Install]
RequiredBy=xorg.target

