[Unit]
Description=Bar
PartOf=bspwm.service
After=bspwm.service
BindsTo=xorg.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/polybar -c %h/.config/polybar/config.ini %i

[Install]
WantedBy=xorg.target

