[Unit]
Description=A fast and easy-to-use status bar 
Documentation=man:polybar(1)
PartOf=graphical-session.target

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=%h/.local/bin/launch_polybar.sh

[Install]
WantedBy=xorg-session.target

