[Unit]
Description=PyWal Reload Oneshot
BindsTo=xorg.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/wal -R

[Install]
WantedBy=xorg.target

