[Install]
Description=PyWal Reload Oneshot

[Service]
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/usr/bin/wal -R

[Install]
RequiredBy=xorg.target

