[Unit]
Description=Simple X Hotkey Daemon
PartOf=bspwm.service

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/sxhkd
Environment="SXHKD_SHELL=/usr/bin/zsh"

[Install]
RequiredBy=xorg.target

