[Unit]
Description=Simple X Hotkey Daemon
Wants=bspwm.service
After=bspwm.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/sxhkd
Environment="SXHKD_SHELL=/usr/bin/zsh"

[Install]
WantedBy=xorg.target

