#xorg.target is a virtual target
#Active when Xorg is ready to accept connections

[Unit]
Description=xorg systemd --user target
Requires=xorg-server@0.service
Requires=default.target
After=default.target
AllowIsolate=yes

