[Unit]
Description=Description=Xorg server at display %i

[Service]
Type=notify
NotifyAccess=exec
SuccessExitStatus=0
ExecStart=/usr/bin/Xorg :%i -nolisten tcp -noreset -verbose 2 vt1

