* {
    background-image: none;
    font-size: 28.8px;
}

@import "../waybar/style.css";


window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    color: @main-fg;
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @wb-act-bg;
    background-size: 30%;
}

button:hover {
    background-color: @wb-hvr-bg;
    background-size: 40%;
    border-radius: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 15px;
    margin : 8px 0px 8px 10px;
}

button:hover#logout {
    border-radius: 15px;
    margin : 8px 0px 8px 0px;
}

button:hover#suspend {
    border-radius: 15px;
    margin : 8px 0px 8px 0px;
}

button:hover#shutdown {
    border-radius: 15px;
    margin : 8px 0px 8px 0px;
}

button:hover#hibernate {
    border-radius: 15px;
    margin : 8px 0px 8px 0px;
}

button:hover#reboot {
    border-radius: 15px;
    margin : 8px 10px 8px 0px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
    border-radius: 20px 0px 0px 20px;
    margin : 10px 0px 10px 10px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 10px 0px 10px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
    border-radius: 0px 20px 20px 0px;
    margin : 10px 10px 10px 0px;
}
